@import '../css/fonts.css';
@import 'varibales.scss';
@import 'extend.scss';

#pmOverlay {

    display: block;
    position: absolute;
    top: -61px !important;
    left: 8.3% !important;
    width: 100%;
    opacity: 0.5;    
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', 'Arial', 'sans-serif';
	font-size: 14px;
	font-weight: normal;
	color: $text-color-grey;
	line-height: 16px;
}
h2, 
.h2 {
	font-size: 34px;
	line-height: 34px;
	color: $text-color-grey;
	font-family: $font-roboto;
	font-weight: 800;
}
h1, .h1  {
  font-size: 34px;
	line-height: 34px;
	color: $text-color-grey;
	font-family: $font-roboto;
	font-weight: 800;
	margin: 15px 0;
}
.top-header {
	
	background: #393939;
	width: 100%;
	border-top: 5px solid $color-blue;

	.logo {
    	margin-top: -10px;
    	width: 28.7%;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	z-index: 10;
	}
	.logo img {
		max-width: 100%;
		height: auto;
		position: absolute;
	}
	.top-menu {
		width: 70.9%;
		display: inline-block;
		vertical-align: top;

		&__list {
			padding: 0;
			padding-left: 10px;
			margin: 0;
			list-style-type: none;
			@extend %flex;
			min-height: 49px;
		}
		li {
			padding: 0 14px 0 15px;
		}
		&__item {
			font-family: $font-roboto;
			font-size: 13px;
			line-height: 49px;
			color: #e2e2e2;
			text-transform: uppercase;
			font-weight: normal;
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}
		}
	}
}
.main-header {

  background-image: -moz-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
 

  .search-wrap {
    padding-top: 20px;
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
	}

	.contacts {
		display: inline-block;
    vertical-align: top;
    width: 48.3%;
    padding: 10px 0;
    text-align: right;

    &__address {
			font-size: 14px;
			line-height: 23px;
			font-family: $font-roboto;
			font-weight: normal;
			color: $color-grey;
		}

		&__tel {
			font-size: 30px;
			line-height: 33px;
			color: $text-color-grey;
			font-weight: 800;
			margin-bottom: 18px;
			font-family: $font-opensans;

			span {
				font-weight: 300;
			}
		}
		.btn:hover:before {
	    -webkit-transform: rotate(720deg);
    	-moz-transform: rotate(720deg);
    	transform: rotate(720deg);
    	rotation: 720deg;
    	-moz-transition: -moz-transform 0.3s ease;
	    -webkit-transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
		}
		.btn {
    	-moz-transition: -moz-transform 0.3s ease;
	    -webkit-transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
		}
		.btn--blue {
			@extend %btn-blue;
			margin-right: 30px;
			position: relative;
			padding: 5px 10px 5px 25px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 40px;
				height: 40px;
				top: -5px;
				left: -24px;
				position: absolute;
				background: url(../img/sprite.png) no-repeat -10px -67px;
			}
		}
		.btn--orange {
			@extend %btn-orange;
			position: relative;
			padding: 5px 10px 5px 25px;

			&:before {
				content: '';
		    display: inline-block;
		    vertical-align: top;
		    width: 40px;
		    position: absolute;
		    top: -8px;
		    height: 40px;
		    background: url(../img/sprite.png) no-repeat -8px -128px;
		    left: -22px;
			}
		}
	}

	.col-md-offset-4,
	.col-lg-offset-4 {
		padding: 0;
	}
}

.slogan {
  font-size: 20px;
  font-family: 'OpenSansLightItalic', 'Arial', sans-serif;
  color: #6b6a6a;
  font-weight: 300;
  width: 100%;
  padding-top: 10px;
}
.form.form--search {
    margin-top: 25px;
    position: relative;
    width: 100%;

    .form__input {
    	width: 88%;
    }

    .search__btn {
		  background: transparent url(../img/sprite.png) no-repeat scroll -3px 2px;
	    border: none;
	    padding: 0;
	    position: absolute;
	    right: 48px;
	    top: 0px;
	    height: 38px;
	    width: 38px;
		}
}
.form__input {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);  
  height: 38px;
  font-size: 15px;
  font-family: $font-roboto;
  color: #6b6a6a;
  padding-left: 15px;

  &:focus {
  	outline: none;
  }

}

input[placeholder]          {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
}
input::-moz-placeholder     {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
} 
input:-moz-placeholder      {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
} 
input:-ms-input-placeholder {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
}  
.btn {
	border-radius: 5px;
  border: none;
  font-family: $font-roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 20px;
  padding: 5px;
}
.baner {
	position: relative;
	margin-top: 14px;

	&__text {
		font-family: $font-roboto;
		font-size: 45px;
		line-height: 50px;
		font-weight: 800;
		color: #fff;
		background: rgba(57, 57, 57, 0.7);
		position: absolute;
		margin-left: 25px;
		padding-left: 18px;
    top: 35%;
	}
	.slick-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 244;    
    bottom: 0px;
    border: 0;

    &:focus {
    	outline: none;
    }
	}
	.slick-prev {
		background: rgba(0, 0, 0, 0.3) url('../img/sprite.png') no-repeat -51px 7px;
		right: 49px;
	}
	.slick-next {
		background: rgba(0, 0, 0, 0.3) url('../img/sprite.png') no-repeat -84px 7px;
		right: 0;
	}
	&__dots {
		position: absolute;
    bottom: 0px;
    left: 25px;
    padding: 0;

    li {
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 12px;
    	background: rgba(255, 255, 255, 0.3);
		  width: 8px;
		  height: 8px;
		  border: none;
		  border-radius: 50%;
		  cursor: pointer;

    	button {
			  background: none;
			  border: 0;

			  &:focus {
			  	outline: none;
			  }
    	}
    }

    .slick-active {
			background: rgb(255, 255, 255);
    	width: 8px;
		  height: 8px;
			border-radius: 50%;
		  -webkit-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			-moz-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			cursor: pointer;

    	button {
			  background: none;
			  border: 0;
    	}
    }
	}

}
.left-menu {
    list-style-type: none;
    padding-right: 0;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 91%;
    margin-top: 24px;
    margin-bottom: 25px;
    background: #0088c5;

    li {
    	padding: 15px 30px 15px 70px;
    	position: relative;

    	&:hover {
    		background: #089fe0;
  			box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  			cursor: pointer;
  			.submenu {
					display: block;
				}
    	}

    	&:after {
		  	content: '';
		  	width: 15px;
		  	height: 20px;
		  	display: inline-block;
		  	background: url('../img/sprite.png') no-repeat -135px 2px;
		  	position: absolute;
		  	right: 18px;
		  	top: 13px;
		  }
    }

    &__lnk {
		  font-size: 18px;
		  font-family: $font-roboto;
		  color: white;
		  line-height: 1.222;
		  text-decoration: none;
		  position: relative;

		  &:hover {
				color: #fff;
				text-decoration: none;

				.submenu {
					display: block;
				}
			}

		  &:before {
		  	content: '';
		  	display: inline-block;
		  	width: 55px;
		  	height: 55px;
		  	background: url('../img/sprite.png') no-repeat;
		  	position: absolute;
		  }
		  

		  &--public:before {
		  	 top: -5px;
		  	 left: -71px;
         background-position: -60px -60px;
		  }
		  &--tech:before {
		  	top: -5px;
		  	left: -73px;
        background-position: -115px -60px;
		  }
		  &--street:before {
		  	top: -17px;
		  	left: -72px;
        background-position: -180px -60px;
		  }
		  &--spec:before {
		  	top: -5px;
		  	left: -70px;
        background-position: -62px -118px;
		  }
		  &--decoration:before {
		  	top: 9px;
		    left: -74px;
		    background-position: -114px -118px;
		  }
		  &--other:before {
		  	top: 0px;
		    left: -69px;
		    background-position: -187px -118px;
		  }

		}

		.submenu {
			position: absolute;
	    left: 308px;
	    top: -8px;
	    margin-top: 0;
	    padding-left: 20px;
	    width: 100%;
	    padding-top: 8px;
    	padding-bottom: 8px;
    	list-style-type: none;
    	padding-right: 0;
    	margin-bottom: 0;
    	background: #089fe0;
    	z-index: 100;
    	display: none;
			
			&__item {
				padding: 15px 40px 15px 10px;

				&:hover {
					background: #10b6fa;
				}

				&:hover .submenu__lnk {
			  	text-decoration: underline;
			  	color: #fff;
			  }
			}
    	&__lnk {
    		font-size: 18px;
			  font-family: $font-roboto;
			  color: white;
			  font-weight: 300;
			  line-height: 1.222;
			  text-decoration: none;

			  &:hover {
			  	text-decoration: underline;
			  	color: #fff;
			  }
    	}

    	.submenu {
    		background:  #10b6fa;
    		left: 288px;

    		> &__item {

					&:hover {
						background: none;
						box-shadow: none;
					}

					&:hover .submenu__lnk {
				  	text-decoration: underline;
				  	color: #fff;
				  }
				}
	    	> &__lnk {

				  &:hover {
				  	text-decoration: underline;
				  }
	    	}
    	}
		}
}
.download-price {
	
	 background: $color-grey url('../img/sprite.png') no-repeat -3px -180px;
	 width: 91%;
	 border-radius: 4px;
	 height: 53px;
	 margin-bottom: 25px;
   display: inline-block;
   position: relative;
   overflow: hidden;

	 a {
		  font-size: 20px;
	    color: #fff;
	    text-transform: uppercase;
	    font-family: "Roboto", "Arial", "sans-serif";
	    font-weight: 800;
	    position: absolute;
	    height: inherit;
	    right: 0;
	    padding-right: 20px;
	    padding-left: 15px;
	    line-height: 53px;
	    border-top-right-radius: 4px;
	    border-bottom-right-radius: 4px;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	    z-index: 1;
	    background-image: -moz-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -webkit-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -ms-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);
	  }

	  &:after, 
		&:before {
	    content: '';
	    position: absolute;
	    left: 60px;
	    top: 33%;
	    width: 60px;
	    height: 60px;
	    margin-top: -20px;
	    z-index: -1;
	    border-radius: 4px;
	    transform: rotate(45deg);
	    background-image: -moz-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -webkit-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -ms-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
		}
		&:before {
		    z-index: 1;
		    box-shadow: none;
		}
	
}
.connection {
	width: 91%;
	background: #f0f0f0;
	border-radius: 3px;	
	margin-bottom: 25px;
	position: relative;

	&:before {
		content: '';
		background: url('../img/sprite.png') no-repeat;
		width: 55px;
		height: 65px;
		position: absolute;
    top: 0;
    left: 12px;
	}

	&.order-call:before {
		background-position: -134px -172px;
	}
	&.ask-question:before {
		background-position: -67px -172px;
	}

	&__head {
		background: $color-grey;
		font-family: $font-roboto;
		font-size: 21px;
		line-height: 52px;
		padding: 0 25px 0 83px;
		height: 58px;
		color: #fff;
		font-weight: 800;		
	}

}
.consultant {

	padding: 14px;
	border-bottom: 1px solid #fff;

	&__photo {
		display: inline-block;
    vertical-align: middle;
    width: 19%;
    border-radius: 50%;
    line-height: 57px;
    height: 57px;

    img {
    	max-width: 100%;
	    height: auto;
	    border-radius: 50%;
    }
	}
	&__contacts {
		display: inline-block;
		vertical-align: top;
		width: 79%;
		padding-left: 11px;
	}
	&__icq,
	&__skype {
	  font-size: 20px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  font-weight: bold;
	  line-height: 23px;

	  &:before {
	  	content: '';
	  	display: inline-block;
	  	vertical-align: middle;
	  	width: 25px;
	  	height: 25px;
	  	background: url('../img/sprite.png') no-repeat;
	  }
	}
	&__icq:before {
		background-position: -38px -310px;
	}
	&__skype:before {
		background-position: -68px -310px;
	}
	&__name {
		font-size: 18px;
		line-height: 20px;
		color: $text-color-grey;
		font-weight: 700;
	}
	&__post {
		color: $text-color-grey;
		font-size: 14px;
		line-height: 16px;
	}
}
.order-call {
	&__form {
		padding: 25px;

		.form__input {
			width: 100%;
			height: 30px;
			border: none;
			background: transparent;
			line-height: 30px;
    	font-size: 30px;
	    font-family: $font-roboto;
	    font-weight: 800;
		}

		.form__label {
			position: absolute;
	    top: 0;
	    left: 0;
	    line-height: 30px;
	    font-size: 30px;
	    width: 100%;
	    font-family: $font-roboto;
	    font-weight: 800;

	    span {
	    	font-weight: 300;
	    	color: #cecece;
	    }
		}
		.form__fieldset {
			position: relative;
			border: none;
			padding: 0;
			margin: 0;
			margin-top: 12px; 
	    height: 30px; 
	    width: 100%;
	  }
	}
	&__btn {
		@extend %btn-blue;
		margin-top: 21px;
    padding: 7px 20px;
    font-size: 14px;
    line-height: 24px;

    &:disabled {
    	color: rgba(255, 255, 255, 0.5);
    }
	}
}
.catalog {
	@extend %flex;
	-webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  -webkit-box-align: stretch;
       -ms-flex-align: stretch;
               -ms-grid-row-align: stretch;
           align-items: stretch;

	&--index {
		.catalog__item {
			width: 32%;
		}
	}	

	&__item {		
		-webkit-box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		-moz-box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		text-align: center;
		padding-top: 5px;
		margin-bottom: 16px;
	}

	&__photo {
		width: 94%;
		height: 158px;
		line-height: 158px;
		text-align: center;
		margin: 0 auto;

		img {
			max-width: 100%;
    	max-height: 100%;
		}
	}

	&__name {
	  font-size: 20px;
	  font-family: $font-roboto;
	  color: $text-color-blue;
	  font-weight: bold;
	  line-height: 20px;
	  text-align: center;
	  text-decoration: none;
	  display: block;
    padding: 24px 35px;

	  &:hover {
	  	text-decoration: underline;
	  	color: #2eaadc;
	  }
	}
}
.slider {
	position: relative;
	margin-top: 16px;

	&__item {
		width: 255px;
		margin-right: 25px;
		position: relative;
   
    &:focus {
    	outline: none;
    }
	}
	&__img {
		width: 237px;
		height: 237px;
		line-height: 237px;
		margin: 0 auto;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__desc {
		width: 237px;
		font-size: 16px;
		line-height: 18px;
		color: $text-color-grey;
		font-family: $font-roboto;
		font-weight: 800;
		padding: 8px 5px;
	}
	&__caption {
		font-size: 16px;
	  font-family: $font-roboto;
	  color: $text-color-blue;
	  text-decoration: underline;
	  font-weight: 800;
	  line-height: 18px;
	  display: block;
	  margin-top: 5px;
	}
	&-prew,
	&-next {
		width: 38px;
		height: 38px;
		border: none;
		position: absolute;
		top: -56px;	
		&:focus {
			outline: none;
		}
	}
	&-prew {
		right: 39px;
		background: $color-blue url('../img/sprite.png') no-repeat -156px 4px;
	}
	&-next {
		right: 0;
		background: $color-blue url('../img/sprite.png') no-repeat -186px 5px;
	}
}
.best-offers {
	margin-bottom: 10px;

	h2 {
		display: inline-block;
		vertical-align: bottom;
		margin: 12px 0;
	}
}
.news-preview {
	h2 {
		display: inline-block;
		vertical-align: bottom;
		margin: 12px 0;
	}
}
.btn-more {
  font-size: 13px;
  font-family: $font-roboto;
  color: rgba(69, 69, 69, 0.902);
  line-height: 22px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
  margin: 13px 11px;
  padding: 2px 10px;
}

.lnk-more {
  font-size: 14px;
  font-family: $font-roboto;
  color: $text-color-blue;
  text-decoration: underline;
  font-weight: normal;
  line-height: 18px;
  display: block;
  margin-top: 5px;
}
.wrap-icon {
	position: absolute;
	z-index: 10;
	top: -11px;
  left: 6px;
}
.icon-item {
	display: inline-block;
	vertical-align: top;
}
.icon-item--best-offers {
	background: url('../img/sprite.png') no-repeat -3px -238px;
	width: 52px;
	height: 57px;
}
.slick-slide:focus {
	outline: none;
}
.best-offers .slider  {
	margin-top: 5px;

	&__item {
		margin-top: 11px;
	}
	
}
.news-preview .slider {
	&__img {
		height: 158px;
		position: relative;
	}
	&__desc {
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		padding: 8px 0;
	}
	&__caption {
    margin-top: 0;
    margin-bottom: 5px;
	}
}
.news-data {
	position: absolute;
	bottom: 0;
	left: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-family: $font-roboto;
  font-weight: 300;
  padding: 3px 5px;
}
.main {
    margin-bottom: 32px;
}
.footer {
	background: rgba(0, 0, 0, 0.65) url('../img/footer-map.jpg') no-repeat 0 0;
	background-size: 100% auto;
	border-top: 5px solid $color-blue;

	&-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #0088c5;
    @extend %flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

		
		li {
			cursor: pointer;
			background: $color-blue;
			padding: 5px 38px;
		}
    &__item {
    	font-size: 14px;
    	line-height: 33px;
    	color: #fff;
    	font-family: $font-roboto;
    	font-weight: 800;
    	text-transform: uppercase;
    	padding-left: 1px;
    }
	}
}
.address {
	&__item {	

	  font-size: 16px;
	  font-family: $font-roboto;
	  color: rgb(255, 255, 255);
	  font-weight: 800;
	  line-height: 30px;
	  text-align: left;

	  b {
	  	font-weight: 300;
	  }

		&--ofice b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 58px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
		&--storage b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 52px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
		&--tel b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 25px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
	}
}
.footer-main {
	padding: 40px 0;
	background: url(../img/footer-logo.png) no-repeat 23% 50%;
}
.footer-main__order-call,
.footer-main__ask-question {
	display: block;
	text-decoration: none;
  font-size: 13px;
  font-family: $font-roboto;
  color: rgb(255, 255, 255);
  line-height: 31px;
  border-radius: 3px;
  height: 31px;
}
.footer-main__order-call {
	background: rgba(0, 0, 0, 0.5) url('../img/sprite.png') no-repeat -200px -176px;
	width: 161px;
	padding-left: 40px;
	margin-top: 15px;
}
.footer-main__ask-question {
	background: rgba(0, 0, 0, 0.5) url('../img/sprite.png') no-repeat -200px -206px;
	width: 143px;
	padding-left: 37px;
	margin-top: 7px;
	margin-bottom: 45px;
}
.copyright {
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	margin-top: 46px;
}
.address {
    width: 55%;
    border: 6px solid rgba(255, 255, 255, 0.24);
    padding: 12px 37px 25px 37px;
    margin-left: -8px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:after {
    	content: '';
	    position: absolute;
	    top: -6px;
	    right: -30px;
	    width: 30px;
	    height: 25px;
	    background: url(../img/border-tringle.png) no-repeat 0 0;
    }
}
.counter {
	margin-top: 71px;
  margin-left: -19px;

  img:first-of-type {
  	margin-bottom: 8px;
  }
}
.open-map,
.scheme-derection {
	display: inline-block;
	vertical-align: top;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  height: 26px;
  font-size: 12px;
  font-family: $font-roboto;
  color: rgb(255, 255, 255);
  line-height: 16px;
	margin-top: 5px;
  text-transform: lowercase;
}
.open-map {
	margin-left: 40px;
	padding: 4px 5px 4px 28px;
	position: relative;

	&:before {
		content: '';
    width: 20px;
    height: 25px;
    position: absolute;
    bottom: 4px;
    left: 5px;
    background: url(../img/sprite.png) no-repeat -4px -308px;
	}
}
.scheme-derection {
	margin-left: 8px;
	padding: 4px 9px;
}
.develop {
    width: 19%;
    vertical-align: baseline;
    background: url('../img/webrost.png') no-repeat 0 4px;
    position: absolute;
    bottom: 0;
    right: 5px;

    &__lnk, 
    &__lnk:hover, 
    &__lnk:focus {
	    color: #fff;
	    font-size: 11px;
	    padding-left: 36px;
	    text-decoration: none;
	    line-height: 12px;
		}
		&__lnk span {
	    padding-left: 36px;
	    color: #2eaadc;
	    text-decoration: underline;
		}
}
.footer-main .col-lg-8 {
	position: relative;
}
.main-header.page-inner {
  background: -moz-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  background: -ms-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  padding-bottom: 12px;
}
.breadcrumbs {

  font-size: 13px;
  font-family: $font-roboto;
  color: $text-color-grey;
  line-height: 1.385;
  padding-left: 0;
  margin: 20px 0;


  &__lnk {
    font-size: 13px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  line-height: 1.385;
    text-decoration: none;

    &:after {
    	content: '';
	    width: 15px;
	    height: 20px;
	    display: inline-block;
	    background: url(../img/sprite.png) no-repeat -38px -9px;
	    vertical-align: middle;
    }
	}
}
.vacancy {
	&__item {
		margin-bottom: 30px;
	}
	&__head {
    padding: 5px 0px 0 0;
    margin-bottom: 10px;
    margin-right: 0;
	}
	&__name {
	  font-size: 21px;
	  font-family: $font-roboto;
	  color: rgb(69, 69, 69);
	  font-weight: bold;
	  line-height: 1.2;
	}
	&__pay {
	  font-size: 13px;
	  font-family: $font-roboto;
	  color: rgb(140, 140, 140);
	  line-height: 1.615;
	  margin-left: 5px;
	}
	&__point {
	  font-size: 14px;
	  font-family: $font-roboto;
	  color: rgb(57, 57, 57);
	  font-weight: bold;
	  line-height: 1.429;
	}
	.point-list {
	  font-size: 14px;
	  font-family: $font-roboto;
	  font-weight: 400;
	  color: rgb(57, 57, 57);
	  line-height: 1.429;
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}
	.read-more-show {
	  font-size: 12px;
	  font-family: $font-roboto;
	  font-weight: normal;
	  display: block;
	  margin-top: 8px;
	  color: rgb(0, 136, 197);
	  line-height: 1.5;
	  border-bottom: 1px dashed;
	  width: 76px;

	  &:before {
	    content: '';
	    display: inline-block;
	    width: 8px;
	    height: 10px;
	    margin-right: 5px;
	    vertical-align: baseline;
	    background: url(../img/sprite.png) no-repeat -232px 0px;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.read-more-show.show {
	  width: 60px;

	  &:before {
	    background: url(../img/sprite.png) no-repeat -232px -2px;
	    transform: rotate(180deg);
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	&__body {
		height: 118px;
		overflow: hidden;
		-webkit-transition: height 0.4s ease;
		-moz-transition: height 0.4s ease;
		-ms-transition: height 0.4s ease;
		-o-transition: height 0.4s ease;
		transition: height 0.4s ease;
	}
	&__body.show {
    height: auto;
    overflow: auto;
	}

}
.menu-subcatalog {
    width: 91%;

    &__lnk {
    	display: block;
		  font-size: 20px;
		  font-family: $font-roboto;
		  font-weight: 300;
		  color: rgb(57, 57, 57);
		  line-height: 1.9;
		  background: #ebebeb;
		  border-bottom: 1px solid #fff;
		  padding-left: 30px;
		  position: relative;

		  &:before {
		  	content: '';
		  	width: 0;
				height: 0;
				position: absolute;
				top: 0;
				left: 0;
				border-style: solid;
				border-width: 10px 10px 0 0;
				border-color: #fff transparent transparent transparent;
		  }

		  &:hover {
		  	text-decoration: none;
		  	color: #393939;
		  }
		}

		&__lnk.active {
			background-color: #393939;
			color: #fff;

			&:hover{
				text-decoration: none;
		  	color: #fff;
			}
		}
}
.top-menu__item.curent {
	color: #2eaadc;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 5px;
		background: #2eaadc;
	}
}
.text-content {
	overflow: hidden; 
	font-size: 14px;
	line-height: 20px;
	margin-top: 25px;

	img {
		float: left;
		margin-right: 30px;
    margin-bottom: 20px;   
    margin-top: 5px; 
	}

	.wrap-img {
		position: relative;

		&:before {
    	content: '';
    	position: absolute;
    	top: -5px;
    	left: 5px;
    	display: block;
    	background: url(../img/sprite.png) no-repeat -3px -233px;
	    width: 52px;
	    height: 57px;
    }
	}

}
.left-bar.inner-page {
	margin-top: 70px;
}
.come-back {
  font-size: 12px;
  font-family: $font-roboto;
  color: rgb(0, 136, 197);
  text-decoration: underline;
  line-height: 1.5;
  font-weight: normal;

  &:before {
  	content: '';
  	display: inline-block;
  	width: 15px;
  	height: 10px;
  	vertical-align: middle;
  	background: url('../img/sprite.png') no-repeat -234px -15px;
  }
}