@import 'extend.scss';

#pmOverlay {

    display: block;
    position: absolute;
    top: -61px !important;
    left: 8.3% !important;
    width: 100%;
    opacity: 0.5;    
}
* {
	box-sizing: border-box;
}
a:focus {
	outline: none;
}
body {
	font-family: 'Roboto', 'Arial', 'sans-serif';
	font-size: 14px;
	font-weight: normal;
	color: $text-color-grey;
	line-height: 16px;
}
h2, 
.h2 {
	font-size: 34px;
	line-height: 34px;
	color: $text-color-grey;
	font-family: $font-roboto;
	font-weight: 800;
}
h1, .h1  {
  font-size: 34px;
	line-height: 34px;
	color: $text-color-grey;
	font-family: $font-roboto;
	font-weight: 800;
	margin: 15px 0;
}
h3, .h3 {
  font-size: 21px;
  font-family: $font-roboto;
  color: rgb(69, 69, 69);
  font-weight: bold;
  line-height: 1.048;
  margin: 10px 0;
}
p {
	font-family: $font-roboto;
	font-weight: normal;
	line-height: 20px;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.top-header {
	
	background: #393939;
	width: 100%;
	border-top: 5px solid $color-blue;

	.logo {
    	margin-top: -10px;
    	width: 28.7%;
    	display: inline-block;
    	vertical-align: top;
    	position: relative;
    	z-index: 10;
	}
	.logo img {
		max-width: 100%;
		height: auto;
		position: absolute;
	}
	.top-menu {
		width: 70.9%;
		display: inline-block;
		vertical-align: top;

		&__list {
			padding: 0;
			padding-left: 10px;
			margin: 0;
			list-style-type: none;
			@extend %flex;
			min-height: 49px;
		}
		li {
			padding: 0 14px 0 15px;
			position: relative;

			&:hover .top-menu__sublist {
				display: block;
			}
		}
		&__item {
			font-family: $font-roboto;
			font-size: 13px;
			line-height: 49px;
			color: #e2e2e2;
			text-transform: uppercase;
			font-weight: normal;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: #2eaadc;
			}
		}
	}
}
.top-menu__sublist {
	position: absolute;
	top: 34px;
	left: 15px;
	width: 120%;
	z-index: 100;
	margin-top: 15px;
	border: 1px solid #fff;
	display: none;

	li {
		border-bottom: 1px solid #fff;
		padding: 0 !important;
	}

	a {		
		background: $text-color-grey;		
		display: block;
    padding: 9px 9px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus {
    	background: #2eaadc;
    	color: #fff;
    	text-decoration: none;
    }
	}
}
.main-header {

  background-image: -moz-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
  background-image: -ms-linear-gradient( 90deg, rgba(215,215,215, 0.5) 0%, rgba(255,255,255, 0.5) 100%);
 

  .search-wrap {
    padding-top: 20px;
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
	}

	.contacts {
		display: inline-block;
    vertical-align: top;
    width: 48.3%;
    padding: 10px 0;
    text-align: right;

    &__address {
			font-size: 14px;
			line-height: 23px;
			font-family: $font-roboto;
			font-weight: normal;
			color: $color-grey;
		}

		&__tel {
			font-size: 30px;
			line-height: 33px;
			color: $text-color-grey;
			font-weight: 800;
			margin-bottom: 18px;
			font-family: $font-opensans;

			span {
				font-weight: 300;
			}
		}
		.btn:hover {
			color: #fff;
			text-decoration: none;
		}
		.btn:hover:before {
	    -webkit-transform: scale(1.08) rotate(720deg);
    	-moz-transform: scale(1.08) rotate(720deg);
    	transform: scale(1.08) rotate(720deg);
    	rotation: 720deg;
    	-moz-transition: -moz-transform 0.3s ease;
	    -webkit-transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
		}
		.btn {
    	-moz-transition: -moz-transform 0.3s ease;
	    -webkit-transition: -webkit-transform 0.3s ease;
	    transition: transform 0.3s ease;
		}
		.btn--blue {
			@extend %btn-blue;
			margin-right: 30px;
			position: relative;
			padding: 5px 10px 5px 25px;


			&:before {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 40px;
				height: 40px;
				top: -5px;
				left: -24px;
				position: absolute;
				background: url(../img/sprite.png) no-repeat -10px -67px;
			}
		}
		.btn--orange {
			@extend %btn-orange;
			position: relative;
			padding: 5px 10px 5px 25px;

			&:before {
				content: '';
		    display: inline-block;
		    vertical-align: top;
		    width: 40px;
		    position: absolute;
		    top: -8px;
		    height: 40px;
		    background: url(../img/sprite.png) no-repeat -8px -128px;
		    left: -22px;
			}
		}
	}

	.col-md-offset-4,
	.col-lg-offset-4 {
		padding: 0;
	}
}

.slogan {
  font-size: 20px;
  font-family: 'OpenSansLightItalic', 'Arial', sans-serif;
  color: #6b6a6a;
  font-weight: 300;
  width: 100%;
  padding-top: 10px;
}
.form.form--search {
    margin-top: 25px;
    position: relative;
    width: 100%;

    .form__input {
    	width: 88%;
    }

    .search__btn {
		  background: transparent url(../img/sprite.png) no-repeat scroll -3px 2px;
	    border: none;
	    padding: 0;
	    position: absolute;
	    right: 48px;
	    top: 0px;
	    height: 38px;
	    width: 38px;

	    &:hover {
				background-position: -3px -26px;
	    }
	    &:focus {
	    	outline: none;
	    }
		}
}
.form__input {
  border: 1px solid #ebebeb;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);  
  height: 38px;
  font-size: 15px;
  font-family: $font-roboto;
  color: #6b6a6a;
  padding-left: 15px;

  &:focus {
  	outline: none;
  }

}

input[placeholder]          {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
}
input::-moz-placeholder     {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
} 
input:-moz-placeholder      {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
} 
input:-ms-input-placeholder {
	color: #6b6a6a;
	font-weight: normal;
	font-size: 14px;
	line-height: 31px;
}  
.btn {
	border-radius: 5px;
  border: none;
  font-family: $font-roboto;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  line-height: 20px;
  padding: 5px;
}
.baner {
	position: relative;
	margin-top: 14px;

	&__text {
		font-family: $font-roboto;
		font-size: 45px;
		line-height: 50px;
		font-weight: 800;
		color: #fff;
		background: rgba(57, 57, 57, 0.7);
		position: absolute;
		margin-left: 25px;
		padding-left: 18px;
    top: 35%;
	}
	.slick-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    z-index: 244;    
    bottom: 0px;
    border: 0;

    &:focus {
    	outline: none;
    }
	}
	.slick-prev {
		background: rgba(0, 0, 0, 0.3) url('../img/sprite.png') no-repeat -51px 7px;
		right: 49px;
	}
	.slick-next {
		background: rgba(0, 0, 0, 0.3) url('../img/sprite.png') no-repeat -84px 7px;
		right: 0;
	}
	&__dots {
		position: absolute;
    bottom: 0px;
    left: 25px;
    padding: 0;

    li {
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 12px;
    	background: rgba(255, 255, 255, 0.3);
		  width: 8px;
		  height: 8px;
		  border: none;
		  border-radius: 50%;
		  cursor: pointer;

		  &:hover {
		  	background: rgba(255, 255, 255, 1);
		  }

    	button {
			  background: none;
			  border: 0;

			  &:focus {
			  	outline: none;
			  }
    	}
    }

    .slick-active {
			background: rgb(255, 255, 255);
    	width: 8px;
		  height: 8px;
			border-radius: 50%;
		  -webkit-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			-moz-box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			box-shadow: 0px 0px 13px 0px rgba(255,255,255,0.88);
			cursor: pointer;

    	button {
			  background: none;
			  border: 0;
    	}
    }
	}

}
.left-menu {
    list-style-type: none;
    padding-right: 0;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 91%;
    margin-top: 24px;
    margin-bottom: 25px;
    background: #0088c5;
		
		> li {
			&:hover {
			  background-color: rgb(8, 159, 224);
			  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
				> .submenu {
					display: block;
				}
			}
			a:hover {
  			cursor: pointer;
  			color: #fff;
  			text-decoration: none;
			}
		}

    li {
    	padding: 13px 30px 13px 70px;
    	position: relative;

    	&:hover {
    		&:after {
					opacity: 1;
				}
    	}

    	&:after {
		  	content: '';
		  	width: 15px;
		  	height: 20px;
		  	display: inline-block;
		  	background: url('../img/sprite.png') no-repeat -135px -20px;
		  	position: absolute;
		  	right: 18px;
		  	top: 13px;
		  	opacity: 0.2;
		  }
    }

    &__lnk {
		  font-size: 18px;
		  font-family: $font-roboto;
		  color: white;
		  line-height: 1.222;
		  text-decoration: none;
		  position: relative;

		  &:before {
		  	content: '';
		  	display: inline-block;
		  	width: 55px;
		  	height: 55px;
		  	background: url('../img/sprite.png') no-repeat;
		  	position: absolute;
		  }
		  

		  &--public:before {
		  	 top: -5px;
		  	 left: -71px;
         background-position: -60px -60px;
		  }
		  &--tech:before {
		  	top: -5px;
		  	left: -73px;
        background-position: -115px -60px;
		  }
		  &--street:before {
		  	top: -17px;
		  	left: -72px;
        background-position: -180px -60px;
		  }
		  &--spec:before {
		  	top: -5px;
		  	left: -70px;
        background-position: -62px -118px;
		  }
		  &--decoration:before {
		  	top: 9px;
		    left: -74px;
		    background-position: -114px -118px;
		  }
		  &--other:before {
		  	top: 0px;
		    left: -69px;
		    background-position: -187px -118px;
		  }

		}
		.submenu {
			position: absolute;
		  left: 308px;
		  top: -8px;
		  margin-top: 0;
		  padding-left: 20px;
		  width: 100%;
		  padding-top: 8px;
			padding-bottom: 8px;
			list-style-type: none;
			padding-right: 0;
			margin-bottom: 0;
			background: #089fe0;
			z-index: 100;
			display: none;
			
			> li {
				padding: 15px 40px 15px 10px;

				&:hover {
				 	background: #10b6fa;
				 	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
				 	> .submenu {
						display: block;
					}
				}

				&:hover .submenu__lnk {
			   	text-decoration: none;
			   	color: #fff;
			  }
			}
			&__lnk {
				font-size: 18px;
			  font-family: $font-roboto;
			  color: white;
			  font-weight: 300;
			  line-height: 1.222;
			  text-decoration: none;
			}

			.submenu {
				background:  #10b6fa;
				left: 288px;

				> li {
					box-shadow: none;
				 	&:hover {
				 		background: none;
				 		box-shadow: none;
				 	}

					&:hover .submenu__lnk {
				   	text-decoration: underline;
				   	color: #fff;
					}
				}
		  	> &__lnk {

				  &:hover {
				  	text-decoration: underline;
				  }
		  	}
			}
		}
}

.download-price {
	
	 background: $color-grey url('../img/sprite.png') no-repeat -3px -180px;
	 width: 91%;
	 border-radius: 4px;
	 height: 53px;
	 margin-bottom: 25px;
   display: inline-block;
   position: relative;
   overflow: hidden;

   &:hover {
   	text-decoration: none;
   	background: #ff8314 url('../img/sprite.png') no-repeat -3px -180px;
   }
   &:focus {
   	outline: none;
   	text-decoration: none;
   }

	 a {
		  font-size: 20px;
	    color: #fff;
	    text-transform: uppercase;
	    font-family: "Roboto", "Arial", "sans-serif";
	    font-weight: 800;
	    position: absolute;
	    height: inherit;
	    right: 0;
	    padding-right: 20px;
	    padding-left: 15px;
	    line-height: 53px;
	    border-top-right-radius: 4px;
	    border-bottom-right-radius: 4px;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	    z-index: 1;
	    background-image: -moz-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -webkit-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -ms-linear-gradient(90deg, #ff7800 0%, #ff8d28 100%);

	    &:hover {
	    	text-decoration: none;
	    }
	  }

	  &:after, 
		&:before {
	    content: '';
	    position: absolute;
	    left: 60px;
	    top: 33%;
	    width: 60px;
	    height: 60px;
	    margin-top: -20px;
	    z-index: -1;
	    border-radius: 4px;
	    transform: rotate(45deg);
	    background-image: -moz-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -webkit-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
	    background-image: -ms-linear-gradient(120deg, #ff7800 0%, #ff8d28 100%);
		}
		&:before {
		    z-index: 1;
		    box-shadow: none;
		}
	
}
.connection {
	width: 91%;
	background: #f0f0f0;
	border-radius: 3px;	
	margin-bottom: 25px;
	position: relative;

	&:before {
		content: '';
		background: url('../img/sprite.png') no-repeat;
		width: 55px;
		height: 65px;
		position: absolute;
    top: 0;
    left: 12px;
	}

	&.order-call:before {
		background-position: -134px -172px;
	}
	&.ask-question:before {
		background-position: -67px -172px;
	}

	&__head {
		background: $color-grey;
		font-family: $font-roboto;
		font-size: 21px;
		line-height: 52px;
		padding: 0 25px 0 83px;
		height: 58px;
		color: #fff;
		font-weight: 800;		
	}

}
.consultant {

	padding: 14px;
	border-bottom: 1px solid #fff;

	&__photo {
		display: inline-block;
    vertical-align: middle;
    width: 19%;
    border-radius: 50%;
    line-height: 57px;
    height: 57px;

    img {
    	max-width: 100%;
	    height: auto;
	    border-radius: 50%;
    }
	}
	&__contacts {
		display: inline-block;
		vertical-align: top;
		width: 79%;
		padding-left: 11px;
	}
	&__icq,
	&__skype {
	  font-size: 20px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  font-weight: bold;
	  line-height: 23px;

	  &:before {
	  	content: '';
	  	display: inline-block;
	  	vertical-align: middle;
	  	width: 25px;
	  	height: 25px;
	  	background: url('../img/sprite.png') no-repeat;
	  }
	}
	&__icq:before {
		background-position: -38px -310px;
	}
	&__skype:before {
		background-position: -68px -310px;
	}
	&__name {
		font-size: 18px;
		line-height: 20px;
		color: $text-color-grey;
		font-weight: 700;
	}
	&__post {
		color: $text-color-grey;
		font-size: 14px;
		line-height: 16px;
	}
}
.order-call {
	&__form {
		padding: 25px;

		.form__input {
			width: 100%;
			height: 30px;
			border: none;
			background: transparent;
			line-height: 30px;
    	font-size: 30px;
	    font-family: $font-roboto;
	    font-weight: 800;
		}

		.form__label {
			position: absolute;
	    top: 0;
	    left: 0;
	    line-height: 30px;
	    font-size: 30px;
	    width: 100%;
	    font-family: $font-roboto;
	    font-weight: 800;

	    span {
	    	font-weight: 300;
	    	color: #cecece;
	    }
		}
		.form__fieldset {
			position: relative;
			border: none;
			padding: 0;
			margin: 0;
			margin-top: 12px; 
	    height: 30px; 
	    width: 100%;
	  }
	}
	&__btn {
		@extend %btn-blue;
		margin-top: 21px;
    padding: 7px 20px;
    font-size: 14px;
    line-height: 24px;

    &:disabled {
    	color: rgba(255, 255, 255, 0.5);
    }
    &:hover {
		  background-image: -moz-linear-gradient( 90deg, rgb(0,136,197) 0%, rgb(16,182,250) 100%);
		  background-image: -webkit-linear-gradient( 90deg, rgb(0,136,197) 0%, rgb(16,182,250) 100%);
		  background-image: -ms-linear-gradient( 90deg, rgb(0,136,197) 0%, rgb(16,182,250) 100%);
    }
    &:focus {
		  background-image: -moz-linear-gradient( 90deg, rgb(23,153,209) 0%, rgb(0,136,197) 100%);
		  background-image: -webkit-linear-gradient( 90deg, rgb(23,153,209) 0%, rgb(0,136,197) 100%);
		  background-image: -ms-linear-gradient( 90deg, rgb(23,153,209) 0%, rgb(0,136,197) 100%);
    }
	}
}
.catalog {
	@extend %flex;
	-webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  -webkit-box-align: stretch;
       -ms-flex-align: stretch;
               -ms-grid-row-align: stretch;
           align-items: stretch;


	&__item {		
		-webkit-box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		-moz-box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		box-shadow: 0px 1px 7px 1px rgba(33,46,67,0.2);
		text-align: center;
		padding-top: 5px;
		margin-bottom: 16px;
		width: 32%;
		&:hover {
			cursor: pointer;
  		box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.26);
  	}
	}

	&__sublist {
		padding-left: 25px;


		&-lnk {
		  font-size: 14px;
		  font-family: $font-roboto;
		  color: rgb(0, 136, 197);
		  line-height: 1.286;
		  position: relative;
		  display: block;
		  text-align: left;
			margin-bottom: 10px;

			&:hover {
				color: #2eaadc;
			}

		  &:before {
		  	content: '';
		  	position: absolute;
		  	top: 5px;
		  	left: -12px;
		  	display: block;
		  	width: 8px;
		  	height: 8px;
		  	background: url('../img/sprite.png') no-repeat -253px -2px;

		  }
		}
	}

	&__photo {
		width: 94%;
		height: 158px;
		line-height: 158px;
		text-align: center;
		margin: 0 auto;

		img {
			max-width: 100%;
    	max-height: 100%;
		}
	}

	&__name {
	  font-size: 20px;
	  font-family: $font-roboto;
	  color: $text-color-blue;
	  font-weight: bold;
	  line-height: 20px;
	  text-align: center;
	  text-decoration: none;
	  display: block;
    padding: 24px 35px;

	  &:hover {
	  	text-decoration: underline;
	  	color: #2eaadc;
	  }
	}
}
.catalog--page-inner {
		.catalog__item {
			padding-bottom: 12px;
		}
		.catalog__name {
			text-align: left;
			padding: 17px 15px 10px 17px;
		}
}
.catalog__sublist-lnk:hover:before {
	background: url('../img/sprite.png') no-repeat -253px -15px;
}
.slider {
	position: relative;
	margin-top: 16px;

	&__item {
		width: 255px;
		margin-right: 25px;
		position: relative;
   
    &:focus {
    	outline: none;
    }
	}
	&__img {
		width: 237px;
		height: 237px;
		line-height: 230px;
		border: 1px solid #e5e5e5;
		display: block;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__desc {
		width: 237px;
		font-size: 16px;
		line-height: 18px;
		color: $text-color-grey;
		font-family: $font-roboto;
		font-weight: 800;
		display: block;
		text-decoration: none;
		padding: 8px 5px;
		&:hover {
			color: #10b6fa;
			text-decoration: underline;
			cursor: pointer;
		}
	}
	&__caption {
		font-size: 16px;
	  font-family: $font-roboto;
	  color: $text-color-blue;
	  text-decoration: underline;
	  font-weight: 800;
	  line-height: 18px;
	  display: block;
	  margin-top: 5px;
	  &:focus {
	  	outline: none;
	  }
	  &:hover {
	  	color: #10b6fa;
			text-decoration: underline;
			cursor: pointer;
	  }
	}
	&-prew,
	&-next {
		width: 38px;
		height: 38px;
		border: none;
		position: absolute;
		top: -56px;	
		&:focus {
			outline: none;
		}
	}
	&-prew {
		right: 39px;
		background: $color-blue url('../img/sprite.png') no-repeat -156px 4px;
		&:hover {
			background: #2ebffb url('../img/sprite.png') no-repeat -156px 4px;
		}
	}
	&-next {
		right: 0;
		background: $color-blue url('../img/sprite.png') no-repeat -186px 5px;
		&:hover {
			background: #2ebffb url('../img/sprite.png') no-repeat -186px 5px;
		}
	}
}
.best-offers {
	margin-bottom: 10px;

	h2 {
		display: inline-block;
		vertical-align: bottom;
		margin: 12px 0;
	}
}
.news-preview {
	h2 {
		display: inline-block;
		vertical-align: bottom;
		margin: 12px 0;
	}
}
.btn-more {
  font-size: 13px;
  font-family: $font-roboto;
  color: rgba(69, 69, 69, 0.902);
  line-height: 22px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
  margin: 13px 11px;
  padding: 2px 10px;
  &:hover,
  &:focus {
  	background: #10b6fa;
  	border: none;
  	color: #fff;
  	text-decoration: none
  }
}

.lnk-more {
  font-size: 14px;
  font-family: $font-roboto;
  color: $text-color-blue;
  text-decoration: underline;
  font-weight: normal;
  line-height: 18px;
  display: block;
  padding-left: 5px;
  &:focus {
  	outline: none;
  }
  &:hover {
  	color: #10b6fa;
  }
}
.wrap-icon {
	position: absolute;
	z-index: 10;
	top: -11px;
  left: 6px;
}
.icon-item {
	display: inline-block;
	vertical-align: top;
}
.icon-item--best-offers {
	background: url('../img/sprite.png') no-repeat -3px -238px;
	width: 52px;
	height: 57px;
}
.slick-slide:focus {
	outline: none;
}
.best-offers .slider  {
	margin-top: 5px;

	&__item {
		margin-top: 11px;
	}
	
}
.news-preview .slider {
	&__img {
		height: 158px;
		position: relative;
	}
	&__desc {
		font-size: 14px;
		line-height: 18px;
		font-weight: normal;
		padding: 8px 0;
	}
	&__caption {
    margin-top: 0;
    margin-bottom: 5px;
	}
}
.news-data {
	position: absolute;
	bottom: 0;
	left: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-family: $font-roboto;
  font-weight: 300;
  padding: 3px 5px;
}
.main {
    margin-bottom: 32px;
}
.footer {
	background: rgba(0, 0, 0, 0.65) url('../img/footer-map.jpg') no-repeat 0 0;
	background-size: 100% auto;
	border-top: 5px solid $color-blue;

	&-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #0088c5;
    @extend %flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

		
		li {
			cursor: pointer;
			background: $color-blue;
			padding: 5px 38px;
		}
    &__item {
    	font-size: 14px;
    	line-height: 33px;
    	color: #fff;
    	font-family: $font-roboto;
    	font-weight: 800;
    	text-transform: uppercase;
    	padding-left: 1px;

    	&:focus {
    		text-decoration: none;
    	}
    	&:hover {
    		color: #2eaadc;
    		text-decoration: none;
    	}

    	&.curent {
    		color: #2eaadc;
    		position: relative;

    		&:focus {
    			text-decoration: none;
    		}

    		&:before {
				    content: '';
				    position: absolute;
				    top: -17px;
				    left: 0;
				    width: 100%;
				    height: 5px;
				    background: #2eaadc;
				}
    	}
    }
	}
}
.address {
	&__item {	

	  font-size: 16px;
	  font-family: $font-roboto;
	  color: rgb(255, 255, 255);
	  font-weight: 800;
	  line-height: 30px;
	  text-align: left;

	  b {
	  	font-weight: 300;
	  }

		&--ofice b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 58px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
		&--storage b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 52px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
		&--tel b:after {
			content: '';
			background: url('../img/dotted.png') repeat-x;
			width: 25px;
			height: 1px;
			display: inline-block;
			vertical-align: text-bottom;
		}
	}
}
.footer-main {
	padding: 40px 0;
	background: url(../img/footer-logo.png) no-repeat 23% 50%;
}
.footer-main__order-call,
.footer-main__ask-question {
	display: block;
	text-decoration: none;
  font-size: 13px;
  font-family: $font-roboto;
  color: rgb(255, 255, 255);
  line-height: 31px;
  border-radius: 3px;
  height: 31px;
  &:hover {
  	color: #fff;
  	text-decoration: none;
  }
}
.footer-main__order-call {
	background: rgba(0, 0, 0, 0.5) url('../img/sprite.png') no-repeat -200px -176px;
	width: 161px;
	padding-left: 40px;
	margin-top: 15px;
}
.footer-main__ask-question {
	background: rgba(0, 0, 0, 0.5) url('../img/sprite.png') no-repeat -200px -206px;
	width: 143px;
	padding-left: 37px;
	margin-top: 7px;
	margin-bottom: 45px;
}
.copyright {
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	margin-top: 46px;
}
.address {
    width: 55%;
    border: 6px solid rgba(255, 255, 255, 0.24);
    padding: 12px 37px 25px 37px;
    margin-left: -8px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;

    &:after {
    	content: '';
	    position: absolute;
	    top: -6px;
	    right: -30px;
	    width: 30px;
	    height: 25px;
	    background: url(../img/border-tringle.png) no-repeat 0 0;
    }
}
.counter {
	margin-top: 71px;
  margin-left: -19px;

  img:first-of-type {
  	margin-bottom: 8px;
  }
}
.open-map,
.scheme-derection {
	display: inline-block;
	vertical-align: top;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
  height: 26px;
  font-size: 12px;
  font-family: $font-roboto;
  color: rgb(255, 255, 255);
  line-height: 16px;
	margin-top: 5px;
  text-transform: lowercase;
  &:hover {
  	color: #fff;
  	text-decoration: none;
  }
}
.open-map {
	margin-left: 40px;
	padding: 4px 5px 4px 28px;
	position: relative;

	&:before {
		content: '';
    width: 20px;
    height: 25px;
    position: absolute;
    bottom: 4px;
    left: 5px;
    background: url(../img/sprite.png) no-repeat -4px -308px;
	}
}
.scheme-derection {
	margin-left: 8px;
	padding: 4px 9px;
}
.develop {
    width: 19%;
    vertical-align: baseline;
    background: url('../img/webrost.png') no-repeat 0 4px;
    position: absolute;
    bottom: 0;
    right: 5px;

    &__lnk, 
    &__lnk:hover, 
    &__lnk:focus {
	    color: #fff;
	    font-size: 11px;
	    padding-left: 36px;
	    text-decoration: none;
	    line-height: 12px;
		}
		&__lnk span {
	    padding-left: 36px;
	    color: #2eaadc;
	    text-decoration: underline;
		}
}
.footer-main .col-lg-8 {
	position: relative;
}
.main-header.page-inner {
  background: -moz-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  background: -webkit-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  background: -ms-linear-gradient( 90deg, rgba(215,215,215,0.5) 0%, rgba(255,255,255,0.5) 100%);
  padding-bottom: 12px;
}
.breadcrumbs {

  font-size: 13px;
  font-family: $font-roboto;
  color: $text-color-grey;
  line-height: 1.385;
  padding-left: 0;
  margin: 20px 0;


  &__lnk {
    font-size: 13px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  line-height: 1.385;
    text-decoration: none;

    &:hover {
    	color: #10b6fa;
    	text-decoration: underline;
    }

    &:after {
    	content: '';
	    width: 15px;
	    height: 20px;
	    display: inline-block;
	    background: url(../img/sprite.png) no-repeat -38px -9px;
	    vertical-align: middle;
    }
	}
}
.vacancy {
	&__item {
		margin-bottom: 30px;
	}
	&__head {
    padding: 5px 0px 0 0;
    margin-bottom: 10px;
    margin-right: 0;
	}
	&__name {
	  font-size: 21px;
	  font-family: $font-roboto;
	  color: rgb(69, 69, 69);
	  font-weight: bold;
	  line-height: 1.2;
	}
	&__pay {
	  font-size: 13px;
	  font-family: $font-roboto;
	  color: rgb(140, 140, 140);
	  line-height: 1.615;
	  margin-left: 5px;
	}
	&__point {
	  font-size: 14px;
	  font-family: $font-roboto;
	  color: rgb(57, 57, 57);
	  font-weight: bold;
	  line-height: 1.429;
	}
	.point-list {
	  font-size: 14px;
	  font-family: $font-roboto;
	  font-weight: 400;
	  color: rgb(57, 57, 57);
	  line-height: 1.429;
	  list-style-type: none;
	  padding: 0;
	  margin: 0;
	}
	.read-more-show {
	  font-size: 12px;
	  font-family: $font-roboto;
	  font-weight: normal;
	  display: block;
	  margin-top: 8px;
	  color: rgb(0, 136, 197);
	  line-height: 1.5;
	  border-bottom: 1px dashed;
	  width: 76px;

	  &:before {
	    content: '';
	    display: inline-block;
	    width: 8px;
	    height: 10px;
	    margin-right: 5px;
	    vertical-align: baseline;
	    background: url(../img/sprite.png) no-repeat -232px 0px;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.read-more-show.show {
	  width: 60px;

	  &:before {
	    background: url(../img/sprite.png) no-repeat -232px -2px;
	    transform: rotate(180deg);
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	&__body {
		height: 118px;
		overflow: hidden;
		-webkit-transition: height 0.4s ease;
		-moz-transition: height 0.4s ease;
		-ms-transition: height 0.4s ease;
		-o-transition: height 0.4s ease;
		transition: height 0.4s ease;
	}
	&__body.show {
    height: auto;
    overflow: auto;
	}

}
.menu-subcatalog {
    width: 91%;

    &__lnk {
    	display: block;
		  font-size: 20px;
		  font-family: $font-roboto;
		  font-weight: 300;
		  color: rgb(57, 57, 57);
		  line-height: 1.9;
		  background: #ebebeb;
		  border-bottom: 1px solid #fff;
		  padding-left: 30px;
		  position: relative;

		  &:before {
		  	content: '';
		  	width: 0;
				height: 0;
				position: absolute;
				top: 0;
				left: 0;
				border-style: solid;
				border-width: 10px 10px 0 0;
				border-color: #fff transparent transparent transparent;
		  }

		  &:hover {
		  	text-decoration: none;
		  	color: #393939;
		  }
		}

		&__lnk.active {
			background-color: #393939;
			color: #fff;

			&:hover{
				text-decoration: none;
		  	color: #fff;
			}
		}
}
.top-menu__item.curent {
	color: #2eaadc;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		width: 100%;
		height: 5px;
		background: #2eaadc;
	}
}
.text-content {
	overflow: hidden; 
	font-size: 14px;
	line-height: 20px;
	margin-top: 25px;


	img {
		float: left;
		margin-right: 30px;
    margin-bottom: 13px;   
    margin-top: 5px; 
    border: 1px solid #e5e5e5;
	}

	.wrap-img {
		position: relative;

		&:before {
    	content: '';
    	position: absolute;
    	top: -5px;
    	left: 5px;
    	display: block;
    	background: url(../img/sprite.png) no-repeat -3px -233px;
	    width: 52px;
	    height: 57px;
    }
	}

}
.come-back.pagination__lnk--next:before {
  background: url(../img/sprite.png) no-repeat -43px -40px;
  top: 0px;
  left: inherit;
  right: -15px;
}
.come-back.pagination__lnk--prev:before {
  background: url(../img/sprite.png) no-repeat -43px -40px;
  top: 4px;
  left: -15px;
}
.left-bar.inner-page {
	margin-top: 70px;
}
.come-back {
  font-size: 12px;
  font-family: $font-roboto;
  color: rgb(0, 136, 197);
  text-decoration: underline;
  line-height: 1.5;
  font-weight: normal;
  margin-right: 37%;

  &:hover,
  &:focus {
  	color: #10b6fa;
  }
  &:hover:before,
  &:focus:before {
  	background: url('../img/sprite.png') no-repeat -234px -30px;
  }

  &.pagination__lnk--prev {
		margin-right: 0;
		color: #0088c5;
  }
  &.pagination__lnk--next {
		margin-right: 0;
		margin-left: 40px;
		color: #0088c5;
  }

  &:before {
  	content: '';
  	display: inline-block;
  	width: 15px;
  	height: 10px;
  	vertical-align: middle;
  	background: url('../img/sprite.png') no-repeat -234px -15px;
  }
}
.special {
	@extend %flex;
	margin-top: 22px;
}
.special-item {
	position: relative;
	margin-right: 2.6%;
  margin-bottom: 20px;

	&:nth-of-type(3n) {
		margin-right: 0;
	}
}
.special__img {
	width: 237px;
	height: 237px;
	line-height: 230px;
	margin: 0 auto;
	display: block;
	border: 1px solid #e5e5e5;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.special__desc {
	width: 237px;
	font-size: 16px;
	line-height: 18px;
	color: $text-color-grey;
	font-family: $font-roboto;
	font-weight: 800;
	padding: 8px 5px;
}
.pagination {
	margin-top: 32px;
  padding: 0;
  text-align: center;

	&__list {
		font-size: 0;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	&__item {
		display: inline-block;
    vertical-align: middle;
    margin-left: 1px;
	}
	&__lnk {

	  font-size: 15px;
	  font-family: $font-roboto;
	  color: #454545;
	  font-weight: bold;
	  line-height: 1.2;	  
	  display: block;
    width: 31px;
	  height: 31px;
	  background: #e2e2e2;
	  padding: 6px 0px;

	  &.curent {
	  	color: #fff;
	  	background: #0088c5;
	  }

		&:hover {
			color: #fff;
			background: #10b6fa;
			text-decoration: none;
		}

		&--prev {
			font-size: 12px;
		  font-family: $font-roboto;
		  color: rgba(69, 69, 69, 0.302);
		  text-decoration: underline;
		  line-height: 1.5;
			background: none;
			width: 90px;
			height: auto;
			margin-right: 30px;
			position: relative;

			&:hover {
				background: none;
				color: rgba(69, 69, 69, 0.302);
			}

			&:before {
				content: '';
				background: url('../img/sprite.png') no-repeat -43px -55px;
				display: inline-block;
				position: absolute;
				width: 15px;
				height: 15px;
				top: 11px;
    		left: -8px;
			}

			&.active {
				color: #0088c5;

				&:hover {
					background: none;
					color: #10b6fa;
				}
			}
		}
		&--next {
			font-size: 12px;
		  font-family: $font-roboto;
		  color: rgba(69, 69, 69, 0.302);
		  text-decoration: underline;
		  line-height: 1.5;
			background: none;
			width: 90px;
			height: auto;
			margin-left: 25px;
			position: relative;

			&:before {
				content: '';
		    background: url(../img/sprite.png) no-repeat -43px -40px;
		    display: inline-block;
		    position: absolute;
		    width: 15px;
		    height: 15px;
		    top: 6px;
		    right: -5px;
		    transform: rotate(180deg);
			}

			&.active {
				color: #0088c5;

				&:hover {
					background: none;
					color: #10b6fa;
				}
			}
		}
	}
}
.partners {
	@extend %flex;
	margin-top: 25px;

	&__item {
		margin-right: 26px;
    margin-bottom: 25px;

    &:nth-of-type(6n) {
    	margin-right: 0;
    }
	}
}
.custom-list {
	margin-top: 10px; 
	margin-bottom: 15px;

	li {
		margin-bottom: 13px;
		position: relative;
		padding-left: 15px;

		&:before {
			content: '';
			background: #0088c5;
			display: block;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
}
table {
	-webkit-box-shadow: 0px 0px 0px 1px rgba(231,231,231,1);
-moz-box-shadow: 0px 0px 0px 1px rgba(231,231,231,1);
box-shadow: 0px 0px 0px 1px rgba(231,231,231,1);
}
th {
	background: #ffc28c;
	font-weight: 800;
	border: 1px solid #fff;
	padding: 10px 20px;
}
tr:nth-child(even) {
	background: #e7e7e7;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
tr:nth-child(odd){
	background: #f7f7f7;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
tr:last-of-type {
	border-bottom: 1px solid #fff;
}
tr:first-of-type {
	border-top: 1px solid #fff;
}
td {
	border: 1px solid #fff;
	font-size: 14px;
	line-height: 18px;
	font-weight: $font-roboto;
	font-weight: 400;
	padding: 10px 20px;
	text-align: center;
}
table.about-us {
	table-layout: fixed;

	tr:first-of-type th:last-of-type {
		background: #5fc5f3;
	}
	tr:nth-of-type(2) th {
		background: #8fdbfd;
	}
	tr:nth-of-type(3) th {
		background: #8fdbfd;
		font-weight: 400;
	}
	td:first-of-type {
		width: 35%;
	}
	td:last-of-type,
	td:nth-of-type(3) {
		width: 20%;
	}
}
.pagination--section {
	text-align: left;
}
.news {
	&__item {
		margin-bottom: 18px;
	}
	&__photo {
		width: 149px;
		height: 149px;
		line-height: 136px;
		border: 1px solid #e5e5e5;
		margin-right: 2.5%;
		display: inline-block;
		vertical-align: top;
		text-align: center;

		img {
			max-width: 100%;
			height: auto;
			max-height:100%;
			margin: 0 auto;
		}
	}
	&__desc {
		width: 77%;
		display: inline-block;
		vertical-align: top;
		margin-top: -4px;
	}
	&__caption {
	  font-size: 18px;
	  font-family: $font-roboto;
	  color: rgb(46, 170, 220);
	  font-weight: 800;
	  text-decoration: underline;
	  line-height: 1.222;
	}
	&__text {
		line-height: 20px;
	}
	&__data {
	  font-size: 11px;
	  font-family: $font-roboto;
	  font-weight: 400;
	  color: rgba(107, 106, 106, 0.702);
	  line-height: 1.818;
	}
}
.address.address--contakts {
	width: 100%;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-top: -9px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;

	.address__item {
		color: $color-grey;
		font-size: 15px;
		line-height: 28px;

		&--ofice {
			b:after {
				width: 165px;
			}
		}
		&--storage {
			b:after {
				width: 85px;
			}
		}
		&--storage-dop {
			margin-bottom: 28px;
			b:after {
				content: '';
		    background: url(../img/dotted.png) repeat-x;
		    width: 78px;
		    height: 1px;
		    display: inline-block;
		    vertical-align: text-bottom;
			}
		}
		&--tel {
			b:after {
				width: 67px;
			}
		}
		&--email {
			b:after {
				content: '';
		    background: url(../img/dotted.png) repeat-x;
		    width: 74px;
		    height: 1px;
		    display: inline-block;
		    vertical-align: text-bottom;
			}
		}
	}

	&:after {
		content: none;
	}

}
.address-left {
	display: inline-block;
	vertical-align: top;
	width: 35%;
}
.address-right {
	display: inline-block;
	vertical-align: top;
	width: 64%;	
}
.map {
	width: 100%;
	height: 330px;
	margin-bottom: 30px;
}
.scheme {
	img {
		border: 1px solid #dbdbdb;
	}
}
.catalog-sublist-page {
	@extend %flex;
	margin-top: 26px;

	.catalog-item {
		width: 165px;
		margin-right: 30px;
		margin-bottom: 22px;



		&:nth-of-type(4n) {
			margin-right: 0;
		}
	}
	.catalog-photo {
		width: 165px;
		height: 165px;
		line-height: 160px;
		text-align: center;
		border: 1px solid #ededed;
		margin-bottom: 5px;
		display: block;

		&:hover {
			border: 1px solid #2eaadc;
		}

		&:focus {
			outline: none;
		}

		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
		}
	}
	.catalog-name {
	  font-size: 15px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  font-weight: bold;
	  line-height: 1.333;
	  display: block;

	  &:hover {
	  	color: #2eaadc;
			text-decoration: underline;
	  }
	}
}

.gallery {
	@extend %flex;
	margin-top: 21px;

	&__item {
		width: 31%;
		margin-right: 16px;
		margin-bottom: 25px;
	}
	&__name {
	  font-size: 16px;
	  font-family: $font-roboto;
	  color: rgb(0, 136, 197);
	  font-weight: bold;
	  line-height: 1.125;
	  display: block;
	  text-decoration: none;
	  cursor: pointer;

	  &:hover {
	  	color: #2eaadc;
	  	text-decoration: underline;
	  }
	}
	&__count {
	  font-size: 13px;
	  font-family: $font-roboto;
	  color: rgb(69, 69, 69);
	  line-height: 1.385;
	  display: block;
	}
	&__photo {
		width: 234px;
		height: 176px;
		line-height: 160px;
		text-align: center;
		margin-bottom: 9px;
		position: relative;
		display: block;
		border: 1px solid #fff;
		outline: 1px solid #cbcbcb;
		transition: background 0.3s  linear;

    &:hover {
			background: url('../img/fotogallery-bg.png') no-repeat 0 0;
			background-size: cover;
    	transition: background 0.3s  linear;
		}

    &.hidden {
    	display: none;
    }

		img {
			max-width: 99.9%;
			max-height: 99.9%;
			z-index: -1;
    	position: relative;
		}

		&:focus {
			outline: none;
		}

		&:hover {
			outline: 1px solid #cbcbcb;
		}

		&--mach:before {
	    content: '';
	    width: inherit;
	    height: inherit;
	    background: #fff;
	    border: 1px solid #cbcbcb;
	    position: absolute;
	    top: 3px;
	    z-index: -1;
	    left: 2px;
		}
		&--mach:after {
	    content: '';
	    width: inherit;
	    height: inherit;
	    background: #fff;
	    border: 1px solid #dbdbdb;
	    position: absolute;
	    top: 6px;
	    z-index: -2;
	    left: 4px;
		}
	}
}
.filter-sort {
	display: inline-block;
	vertical-align: top;
	width: 35%;
	border-radius: 2px;
  border: 1px solid #dadada;
  position: relative;
	&:after {
		content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/sprite.png) no-repeat -247px -22px;
    display: block;
    width: 22px;
    height: 25px;
    z-index: 100;
	}
	&:hover {
		cursor: pointer;
	}
}
.count-goods {
	display: inline-block;
  vertical-align: sub;
  width: 64%;
  padding-left: 16px;

  &__lnk {
  	color: #2eaadc;
  	text-decoration: underline;
  	font-weight: 800;
  	margin-right: 8px;
  	&:hover {
  		color: #2eaadc;
  	}
  }
}
.filter-sort__selected {
  padding: 3px 11px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  &:hover {
		cursor: pointer;
	}

  &:focus {
  	outline: none;
  }
  
}
.catalog-filter {
    margin-bottom: 20px;
}
.catalog--level3 {
	.catalog__item {
		position: relative;
		padding-bottom: 45px;
	}
	.catalog__photo {
		width: 209px;
		height: 209px;
		line-height: 209px;
		display: block;
	}
	.catalog__name {
		font-size: 16px;
		line-height: 18px;
		color: $text-color-grey;

		&:hover {
			color: #2eaadc;
		}
	}
	.catalog__desc {
		text-align: left;
		padding: 0 17px;
	}
	.catalog__more-lnk {
	  font-size: 12px;
	  font-family: $font-roboto;
	  color: white;
    line-height: 1.75;
    text-align: center;
    display: block;
    background: #0088c5;
    width: 87%;
    margin: 0 auto;
    position: absolute;
    bottom: 13px;
    padding: 3px;
    left: 17px;
    &:hover {
    	background: #2eaadc;
    	text-decoration: none;
    }
	}

}
.goods-detail {
	overflow: hidden;
	margin-bottom: 34px;
	&__full {
    float: left;
    width: 61%;
	}
	&__right {
    float: right;
    width: 35%;
	}

	&__small {
		margin-bottom: 12px;
		.slick-track {
			width: 100% !important;
		}
		.slick-slide {
			width: 80px !important;
			margin-right: 10px;
    	margin-bottom: 10px;
			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
	&__desc {
		font-size: 13px;
		line-height: 18px;
		font-weight: 400;
		margin-bottom: 25px;
	}
}
.wrap-img-small {
	width: 80px;
	height: 80px;
	line-height: 79px;
	text-align: center;
	position: relative;

	&:hover {
		background: url('../img/prew-tov-bg.png') no-repeat 0 0;
		cursor: pointer;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		position: relative;
		z-index: -1;
	}
}
.btn-order {
  border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,141,40) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,141,40) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,141,40) 100%);
  width: 260px;
  height: 71px;
  font-size: 28px;
  font-family: $font-roboto;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.75;
  margin-bottom: 20px;
  text-shadow: -0.5px -0.866px 0px rgba(0, 0, 0, 0.07);
  &:hover {
  	background-image: -moz-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,156,68) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,156,68) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(255,120,0) 0%, rgb(255,156,68) 100%);  
  }
  &:focus {
  	outline: none;
	  background-image: -moz-linear-gradient( 90deg, rgb(255,134,26) 0%, rgb(255,120,0) 100%);
	  background-image: -webkit-linear-gradient( 90deg, rgb(255,134,26) 0%, rgb(255,120,0) 100%);
	  background-image: -ms-linear-gradient( 90deg, rgb(255,134,26) 0%, rgb(255,120,0) 100%);
  }
}
.message {
	font-size: 12px;
  line-height: 15px;
  border-radius: 20px;
  padding: 9px 12px 9px 58px;
  width: 238px;
  height: 50px;
  color: rgba(69, 69, 69, 0.5);
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
  position: relative;
  &:before {
  	content: '';
  	position: absolute;
  	top: 10px;
  	left: 21px;
  	display: block;
  	width: 50px;
  	height: 50px;
  	background: url('../img/sprite.png') no-repeat -85px -255px;
  }
  &:after {
  	content: '';
  	position: absolute;
  	top: -13.5px;
  	left: 21px;
  	display: block;
  	width: 50px;
  	height: 50px;
  	background: url('../img/message.png') no-repeat 0 0;
  	opacity: 0.8;
  }
}
.tabs {
  font-family: $font-roboto;
  font-size: 14px;
  margin-bottom: 19px;
}
.tabs__caption li {
 	padding: 10px 21px;
  border: solid 1px #e2e2e2;
  border-bottom: 0;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin-left: -3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
  background: #ededed;
  font-size: 18px;
  line-height: 17px;
  font-weight: 800;
  position: relative;
  &:after{
		content: '';
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -1px;
    width: 10px;
    height: 10px;
    background: url(../img/skew.png) no-repeat 0 0;
	}
}

.tabs__caption li:hover {
  cursor: pointer;
}

.tab-content {
  padding: 5px 30px 30px 30px;
  background: #ededed;
  width: 181px;
  border: solid 1px #e2e2e2;
  color: #555;
  margin-left: 0px;
  z-index: 1;
  opacity: 0;
  width: 100%;
  display: none;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
.tab-content.active {
  opacity: 1;
  color: $text-color-grey;
  width: 100%;
  background: #fff;
  display: block; 
}
.tabs__caption li.active {
  color: $text-color-grey;
  font-weight: 800;
  background: #fff;
  margin-left: 0px;
  &:before {
  	content: '';
  	position: absolute;
  	bottom: -3px;
    left: 0;
  	width: 100%;
  	height: 4px;
  	background: #fff;
  }
}
.feature {
	display: table;
	width: 100%;
	&__item {
		padding-right: 0;
    line-height: 20px;
    position: relative;
    height: 25px;
    top: -10px;
    
    &:before {
	    content: " ";
	    display: block;
	    position: absolute;
	    height: 1px;
	    top: 28px;
	    width: 90%;
	    border-bottom: 1px dotted #000;
		}
		span {
			font-size: 13px;
	    font-weight: 400;
	    display: inline-block;
	    vertical-align: sub;
	    background: transparent;
		}
	}
	.feature__left {
    width: 37%;
    p {
    	padding-right: 4px;
	  	background: #fff;
	  	position: relative;
	  	display: inline;
    font-weight: 400;
		}
	}
	.feature__right {
  	width: 57%;
	}
	p {
  	background: #fff;
  	position: relative;
  	padding-right: 20px;
  	padding-left: 2px;
  	font-weight: 800;
  }
}
.similar-goods {
	h2 {
		font-size: 21px;
		line-height: 22px;
	}
}
.come-back.catalog-card {
	margin-bottom: 34px;
  display: block;
}
.similar-goods {
	.catalog__item.slider__item {
		width: 236px;
		margin: 5px 9px;
		padding-bottom: 50px;
	}
	.catalog__name {
		text-align: left;
		padding: 10px 18px;
	}
}
.wrap-img-big {
	width: 458px;
	height: 458px;
	line-height: 458px;
	text-align: center;
	border: 1px solid #ededed;
	img {
		max-width: 100%;
		max-height: 100%;
		height: auto;
		line-height: 458px;
	}
}
.wrap-img-small {
	border: 1px solid #ededed;
	img {
		height: auto;
	}
}
