@import '../css/fonts.css';

$text-color-grey: #454545;
$text-color-light-grey: #6b6a6a;
$text-color-blue: #0078ae; 
$text-color-light-blue: #0088c5;
$color-blue: #0088c5;
$color-grey: #454545;
$color-orange: #ff7d09;
$font-roboto: 'Roboto', 'Arial', 'sans-serif';
$font-opensans: 'OpenSans', 'Arial', 'sans-serif';